* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    border: unset;
    background-color: unset;
}

body {
    background-color: #E7E8EC;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.title {
    padding: 2rem 0 0 2rem;
}

.section-pokemons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemons-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.pokemons-ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;

    transition: all ease .3s;
}

.pokemons-ul li:hover {
    transform: translateY(-5px);
}

.pokemon-nome {
    text-transform: capitalize;
    color: #fff;
    padding-bottom: .5rem;
}

.pokemon-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
}

.pokemon-details div p {
    filter: brightness(1.1);
    padding: .3rem 1rem;
    border-radius: 15px;
    margin-bottom: .5rem;
    text-align: center;
}

.poke-img {
    text-align: end;
}


.poke-img img {
    width: 80%;
}

#btn-vermais {
    margin-top: 1rem;
    padding: .7rem 3rem;
    font-size: 1rem;
    background: #77c850;
    color: #fff;
    border: unset;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease .5s;
}

#btn-vermais:hover {
    transform: translateY(-5px);
}

/* Modal */

.modal {
    background-color: #77c850;
    width: 100vw;
    height: 50rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.fecharModal {
    text-align: center;
    font-size: 2rem;
    background-color: #fff;
    color: #000;
    border-radius: 25%;
    cursor: pointer;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;
}

.modal .header h3 {
    font-size: 2.5rem;
}

.modal .type {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .2rem;
}

.modal .type p {
    font-size: 1rem;
    font-weight: 500;
    background-color: #678fee;
    filter: brightness(1.1);
    padding: .3rem 1rem;
    border-radius: 15px;
    border: unset;
}

.modal-img {
    width: 100px;
    margin: auto;
}

.modal-img img {
    width: 300px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

.modal-details {
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.modal-details .type {
    margin-top: 2rem;
}

.modal-details h4 {
    font-weight: 700;
    font-size: 2rem;
}



/* Large Phone */
@media screen and (min-width: 425px) {
    .pokemons-ul li {
        width: 185px;
    }

    .pokemon-details {
        gap: 1rem;
    }

    .pokemon-details div p {
        font-size: .9rem;
        padding: .3rem 1rem;
    }

    .pokemon-details div img {
        width: 75px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    main {
        max-width: 1280px;
        margin: auto;
    }

    .section-pokemons {
        background-color: #fff;
        margin: 2rem;
        border-radius: 15px;
    }

    .modal {
        width: 350px;
        height: 32rem;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
    }

    .modal-img img {
        width: 100px;
        top: 24%;
    }

    .modal-details {
        width: 350px;
        height: unset;
    }

    .modal-details h4 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .modal-details .type p {
        font-size: .8rem;
    }
}

/* Desktop 
@media screen and (min-width: 1024px) {
    .modal {
        width: 350px;
        height: 32rem;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
    }

    .modal-img img {
        width: 100px;
        top: 24%;
    }

    .modal-details {
        width: 350px;
        height: unset;
    }

    .modal-details h4 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .modal-details .type p {
        font-size: .8rem;
    }
}

*/